.MuiOutlinedInput-notchedOutline {
  border-color: #53af5b !important;
}

.MuiFilledInput-root {
  border-bottom: 1px solid #53af5b !important;
}

.MuiInput-root {
  border-bottom: 1px solid #53af5b !important;
}
